<h1> Product Information </h1>
<h2>Name: <%= @product.name %> </h2>
<h3>Price: <%= @product.price %> </h3>
<h3>Description: <%= @product.description %> </h3>
<h3>Supplier: <%= @product.supplier.name %> </h3>
<a href="/products">All products</a> 
<a href="/products/<%=@product.id%>/edit">Edit product</a> 
<a href="/products/<%=@product.id%>" data-method="delete" rel="nofollow">Delete</a>



